*.apk
*.ap_
*.dex
*.class
*.ipr
*.iws

.gradle
.classpath
.project
.externalNativeBuild
.DS_Store

/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/build
/captures
/bin
/gen
/proguard/
/app/build/
